    <h2>Completar perfil</h2>
    <hr>
    <form action="/api/sessions/uploadPerfil" method="post" enctype="multipart/form-data">
        <input type="file" name="foto" />
        <br>
        <input type="submit" value="Grabar">
    </form>