<h2>Productos RT</h2>
<hr>
<h3>Listado de productos</h3>
<ul id="productos">
    {{#each products}}
    <li>{{title}}</li>
    {{/each}}
</ul>
<br>
<br>

<a href="/">Inicio</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>