{{>navbar}}
<h2>Carrito {{cart._id}}</h2>

<div class="d-flex">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart.products}}
            <tr>
                <td>{{pid.title}}</td>
                <td>{{quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<br>
<br>
<a href="/productos">Seguir Comprando</a>
